$prim: #ffebec;
$sec: #ffd5d6;
$btn: #f76f0c;
$btn-sec: #ffdddf;
$txt: #252525;
$paragraph: #555555;

@font-face {
    font-family: Butler;
    src: url(/fonts/Butler/Butler_ExtraBold.otf);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url(/fonts/Lato/Lato-Bold.ttf);
    font-family: 900;
}

@mixin flex ($gap, $dir) {
    display: flex;
    flex-direction: $dir;
    gap: $gap;
}