@use 'extras.scss' as e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background-color: e.$prim;
}

h1 {
    font-family: Butler;
}

h2 {
    font-family: Lato;
    color: #252525;
}

button {
    cursor: pointer;
    border: none;
    background: e.$btn;
    color: #fff;
    font-weight: 800;
}

p {
    color: e.$paragraph;
}

a {
    text-decoration: none;
    color: inherit;
}

.sec {
    background: e.$btn-sec;
    color: e.$txt;
}

@media screen and (min-width: 300px) {
    h2 {
        font-size: 1.7rem;
    }

    button {
        width: 40%;
        padding: 7px 30px;
        border-radius: 5px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    section {
        padding: 0 6.948%;
    }

    header {
        padding: 30px 25px 10px;
        background-image: linear-gradient(to bottom,
                #070706 100%,
                #070706 70%,
                #070706 40%,
                #030a03 10%,
                #030a03 5%);

        nav {
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 40px;
        }
    }

    .hero {
        color: #fff;
        height: 600px;
        background: url(/Images/hero.webp) no-repeat;
        background-size: 100%;
        padding: 20% 0 0 6%;

        h1 {
            font-size: 2.2rem;
        }

        p {
            font-size: 15px;
            width: 85%;
            margin-top: 15px;
            color: #fff;
        }

        div {
            @include e.flex(10px, row);
            margin-top: 25px;

            p {
                display: block;
                font-size: 12px;
            }
        }

        span {
            font-size: 10px;
            margin-top: 15px;
        }

        button {
            border-radius: 0;
            width: 30%;
        }
    }

    .menu {
        margin-top: 50px;
        padding: 0 6.948% 0;

        img {
            width: 100%;
        }
    }

    .items-wrapper {
        width: 85%;
        margin: 30px auto 0;
        @include e.flex(25px, column);

        button {
            margin-top: 10px;
            width: 40%;
        }
    }

    .item {
        background-color: #fff;
        border-radius: 10px;

        h3 {
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .text {
            padding: 15px 20px;

            div {
                background-color: #e5e5e5;
                color: #747474;
                display: inline-block;
                padding: 4px 10px;
                border-radius: 10%;
                letter-spacing: 3px;
                margin-right: 5px;
                font-size: 14px;
            }
        }

        span {
            background-color: #ffa115;
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
        }
    }

    .benefits {
        margin-top: 80px;

        img {
            width: 35%;
            border: 1px solid e.$paragraph;
            border-radius: 10%;
            padding: 10px 4px 0;
        }

        p {
            font-size: 13px;
            width: 85%;
            line-height: 20px;
        }
    }

    .card-wrapper {
        @include e.flex(25px, column);
        width: 85%;
        margin: 30px auto;

        .card {
            padding: 25px 10px 20px 25px;
            background-color: #fff;
            @include e.flex(10px, column);

            h3 {
                letter-spacing: 0.5px;
                margin-top: 5px;
            }
        }
    }

    .features {
        margin-top: 50px;

        h2 {
            width: 80%;
        }

        &>img {
            width: 98%;
            margin: 25px auto 0;
            display: block;
        }
    }

    .feature-wrapper {
        width: 98%;
        margin: 50px auto;
        @include e.flex(50px, column);
    }

    .feature {
        @include e.flex(10px, row);

        span {
            display: inline-block;
            width: 80px;
            height: 80px;
            background: #ffd5d6;
        }

        img {
            width: 70%;
            background-color: #d5d5d5;
            margin-left: -65px;
            margin-bottom: -20px;
            padding: 15px 5px 0 10px;
        }

        div {
            width: 40%;
        }

        .text {
            width: 60%;
            @include e.flex(8px, column);
        }

        p {
            line-height: 16px;
            font-size: 11.7px;
            width: 106%;
        }
    }

    .cta {
        margin-top: 80px;
        padding: 40px 6.948% 30px;
        background-color: e.$sec;
        @include e.flex(15px, column);

        button {
            width: 45%;
            padding: 7px 18px;
            border-radius: 5px;
            margin-top: 10px;
        }

        p {
            font-size: 14px;
            width: 90%;
        }

        span {
            width: 25%;
            height: 5px;
            background-color: e.$txt;
        }
    }

    .testimonials {
        margin: 70px 0;
    }

    .testimonial-wrapper {
        width: 65%;
        margin: 60px auto 0;
        @include e.flex(50px, column)
    }

    .testimonial {
        text-align: center;
        align-items: center;
        @include e.flex(8px, column);

        img {
            width: 55%;
            border-radius: 100%;
        }

        span {
            color: #f76f0c;
            font-size: 20px;
        }

        p {
            font-size: 13px;
            line-height: 18px;
        }
    }

    .about-us {
        @include e.flex(25px, column);

        img {
            width: 96%;
            border-radius: 3px;
        }

        button {
            width: 40%;
            border-radius: 5px;
        }

        p {
            width: 90%;
        }
    }

    .contact-us {
        margin-top: 70px;
        @include e.flex(15px, column);

        img {
            border: 2px solid #d5d5d5;
            width: 100%;
        }

        h2,
        button {
            margin-top: 5px;
        }
    }

    footer {
        margin-top: 80px;
        background-color: #ffd5d6;
        padding: 30px 6.948% 0;

        img {
            width: 20%;
        }

        a {
            color: e.$btn;
            font-weight: 900;
        }

        &>p {
            margin: 30px auto 10px;
            text-align: center;
        }
    }

    .socials {
        width: 43%;
        margin-top: 30px;

        div {
            @include e.flex(15px, row);
            margin-top: 12px;
        }

        p {
            margin-top: 10px;
        }
    }

    // About Us

    .intro {
        padding: 15% 8% 0;
        @include e.flex(20px, column);

        img {
            width: 100%;
            margin: 10px 0;
        }

        p {
            width: 93%;
        }
        h2 {
            font-size: 2rem;
        }
    }

    .sourcing-ingredients {
        margin: 80px 0 90px;

        h2 {
            font-size: 1.6rem;
        }
    }

    .wrapper {
        margin: 50px 0 0;
        @include e.flex(60px, row);

        .text {
            @include e.flex(85px, column);

            div {
                @include e.flex(7px, column);
            }

            img {
                width: 35%;
            }

            h3 {
                color: #252525;
            }

            p {
                width: 93%;
            }
        }
    }

    .progress-bar {
        width: 25%;
        @include e.flex(0, column);
        align-items: center;
        margin-top: 50px;

        span {
            width: 18%;
            height: 220px;
            background-color: #aaaaaa;
            display: block;
            margin: -10px 0 0 0;
            justify-content: center;
        }
    }

    .circle {
        background-color: #aaaaaa;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        @include e.flex(0, row);
        align-items: center;
        justify-content: center;

        h2 {
            color: #555;
            font-weight: 900;
        }
    }

    .totop {
        margin-top: -10px;
    }

    .special {
        margin-bottom: 50px;
        @include e.flex(30px, column);

        h2 {
            line-height: 36px;
        }

        img {
            width: 100%;
        }

        button {
            width: 45%;
        }

        p {
            font-size: 14.5px;
            line-height: 23px;
        }
    }
}