@font-face {
  font-family: Butler;
  src: url(./fonts/Butler/Butler_ExtraBold.otf);
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato/Lato-Bold.ttf);
  font-family: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #ffebec;
}

h1 {
  font-family: Butler;
}

h2 {
  font-family: Lato;
  color: #252525;
}

button {
  cursor: pointer;
  border: none;
  background: #f76f0c;
  color: #fff;
  font-weight: 800;
}

p {
  color: #555555;
}

a {
  text-decoration: none;
  color: inherit;
}

.sec {
  background: #ffdddf;
  color: #252525;
}

@media screen and (min-width: 300px) {
  h2 {
    font-size: 1.7rem;
  }
  a {
    width: 40%;
  }
  button {
    padding: 7px 0;
    border-radius: 5px;
    width: 100%;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  section {
    padding: 0 6.948%;
  }
  header {
    padding: 30px 25px 10px;
    background-image: linear-gradient(to bottom, #070706 100%, #070706 70%, #070706 40%, #030a03 10%, #030a03 5%);
  }
  header nav {
    display: flex;
    justify-content: space-between;
  }
  header img {
    width: 40px;
  }
  .hero {
    color: #fff;
    height: 600px;
    background: url(./Images/hero.webp) no-repeat;
    background-size: 100%;
    padding: 20% 0 0 6%;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
  .hero p {
    font-size: 15px;
    width: 85%;
    margin-top: 15px;
    color: #fff;
  }
  .hero div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 25px;
  }
  .hero div p {
    display: block;
    font-size: 12px;
  }
  .hero span {
    font-size: 10px;
    margin-top: 15px;
  }
  .hero a {
    width: 30%;
  }
  .hero button {
    border-radius: 0;
  }
  .menu {
    margin-top: 50px;
    padding: 0 6.948% 0;
  }
  .menu img {
    width: 100%;
  }
  .items-wrapper {
    width: 85%;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .items-wrapper button {
    margin-top: 10px;
  }
  .item {
    background-color: #fff;
    border-radius: 10px;
  }
  .item h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .item .text {
    padding: 15px 20px;
  }
  .item .text div {
    background-color: #e5e5e5;
    color: #747474;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 10%;
    letter-spacing: 3px;
    margin-right: 5px;
    font-size: 14px;
  }
  .item span {
    background-color: #ffa115;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
  }
  .benefits {
    margin-top: 80px;
  }
  .benefits img {
    width: 35%;
    border: 1px solid #555555;
    border-radius: 10%;
    padding: 10px 4px 0;
  }
  .benefits p {
    font-size: 13px;
    width: 85%;
    line-height: 20px;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 85%;
    margin: 30px auto;
  }
  .card-wrapper .card {
    padding: 25px 10px 20px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card-wrapper .card h3 {
    letter-spacing: 0.5px;
    margin-top: 5px;
  }
  .features {
    margin-top: 50px;
  }
  .features h2 {
    width: 80%;
  }
  .features > img {
    width: 98%;
    margin: 25px auto 0;
    display: block;
  }
  .feature-wrapper {
    width: 98%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .feature span {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #ffd5d6;
  }
  .feature img {
    width: 70%;
    background-color: #d5d5d5;
    margin-left: -65px;
    margin-bottom: -20px;
    padding: 15px 5px 0 10px;
  }
  .feature div {
    width: 40%;
  }
  .feature .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .feature p {
    line-height: 16px;
    font-size: 11.7px;
    width: 106%;
  }
  .cta {
    margin-top: 80px;
    padding: 40px 6.948% 30px;
    background-color: #ffd5d6;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .cta button {
    margin-top: 10px;
  }
  .cta p {
    font-size: 14px;
    width: 90%;
  }
  .cta span {
    width: 25%;
    height: 5px;
    background-color: #252525;
  }
  .testimonials {
    margin: 70px 0;
  }
  .testimonial-wrapper {
    width: 65%;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .testimonial {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .testimonial img {
    width: 55%;
    border-radius: 100%;
  }
  .testimonial span {
    color: #f76f0c;
    font-size: 20px;
  }
  .testimonial p {
    font-size: 13px;
    line-height: 18px;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .about-us img {
    width: 96%;
    border-radius: 3px;
  }
  .about-us p {
    width: 90%;
  }
  .contact-us {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contact-us img {
    border: 2px solid #d5d5d5;
    width: 100%;
  }
  .contact-us h2,
  .contact-us button {
    margin-top: 5px;
  }
  footer {
    margin-top: 80px;
    background-color: #ffd5d6;
    padding: 30px 6.948% 0;
  }
  footer img {
    width: 20%;
  }
  footer a {
    color: #f76f0c;
    font-weight: 900;
  }
  footer > p {
    margin: 30px auto 10px;
    text-align: center;
  }
  .socials {
    width: 43%;
    margin-top: 30px;
  }
  .socials div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 12px;
  }
  .socials p {
    margin-top: 10px;
  }
  .intro {
    padding: 15% 8% 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .intro img {
    width: 100%;
    margin: 10px 0;
  }
  .intro p {
    width: 93%;
  }
  .intro h2 {
    font-size: 2rem;
  }
  .sourcing-ingredients {
    margin: 80px 0 90px;
  }
  .sourcing-ingredients h2 {
    font-size: 1.6rem;
  }
  .wrapper {
    margin: 50px 0 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .wrapper .text {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }
  .wrapper .text div {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .wrapper .text img {
    width: 35%;
  }
  .wrapper .text h3 {
    color: #252525;
  }
  .wrapper .text p {
    width: 93%;
  }
  .progress-bar {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin-top: 50px;
  }
  .progress-bar span {
    width: 18%;
    height: 220px;
    background-color: #aaaaaa;
    display: block;
    margin: -10px 0 0 0;
    justify-content: center;
  }
  .circle {
    background-color: #aaaaaa;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .circle h2 {
    color: #555;
    font-weight: 900;
  }
  .totop {
    margin-top: -10px;
  }
  .special {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .special h2 {
    line-height: 36px;
  }
  .special img {
    width: 100%;
  }
  .special button {
    width: 45%;
  }
  .special p {
    font-size: 14.5px;
    line-height: 23px;
  }
  .item-list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .item-list img {
    width: 40%;
    border-radius: 3px;
  }
  .item-list .item {
    background-color: #e8ddee;
    cursor: pointer;
  }
  .item-list .item .text div {
    color: #3c3c3c;
    background-color: #bbb;
  }
  .item-expanded {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
    width: 85%;
    margin: auto;
    height: 46%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    display: none;
    padding: 20px 15px 0;
  }
  .item-expanded h3 {
    font-size: 1.3rem;
  }
  .item-expanded button {
    width: 55%;
  }
  .item-expanded img {
    width: 40%;
  }
  .item-expanded div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
  }
  .item-expanded .text {
    margin: 0;
    align-items: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .item-expanded .text ul {
    padding-left: 20px;
  }
  .item-expanded .text ul li {
    font-size: 15px;
    margin-top: 3px;
  }
  .item-expanded .text button {
    width: 50%;
  }
  .item-expanded .text div {
    margin: 0;
  }
  .item-expanded > img {
    position: absolute;
    width: 7%;
    right: 10px;
    top: 14px;
    cursor: pointer;
  }
  .menu h2 {
    font-size: 2rem;
  }
}
