@font-face {
  font-family: Butler;
  src: url(/fonts/Butler/Butler_ExtraBold.otf);
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Bold.ttf);
  font-family: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #ffebec;
  padding-bottom: 100px;
}

h1 {
  font-family: Butler;
}

h2 {
  font-family: Lato;
}

button {
  cursor: pointer;
  border: none;
  background: #f76f0c;
  color: #fff;
  font-weight: 800;
}

p {
  color: #555555;
}

.sec {
  background: #ffdddf;
  color: #252525;
}

@media screen and (min-width: 300px) {
  h2 {
    font-size: 1.7rem;
  }
  button {
    width: 30%;
    padding: 7px 30px;
  }
  p {
    font-size: 12px;
  }
  header {
    padding: 20px 25px 10px;
    background-image: linear-gradient(to bottom, #070706 100%, #070706 70%, #070706 40%, #030a03 10%, #030a03 5%);
  }
  header nav {
    display: flex;
    justify-content: space-between;
  }
  header img {
    width: 40px;
  }
  .hero {
    color: #fff;
    height: 600px;
    background: url(/Images/hero.webp) no-repeat;
    background-size: 100%;
    padding: 20% 0 0 6%;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
  .hero p {
    font-size: 15px;
    line-height: 22px;
    width: 80%;
    margin-top: 15px;
    color: #fff;
  }
  .hero div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 25px;
  }
  .hero div p {
    display: block;
    font-size: 12px;
  }
  .hero span {
    font-size: 10px;
    margin-top: 15px;
  }
  .menu {
    margin-top: 50px;
    padding: 0 25px 0;
  }
  .menu img {
    width: 100%;
  }
  .items-wrapper {
    width: 85%;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .items-wrapper button {
    margin-top: 10px;
    border-radius: 6px;
    width: 40%;
    padding: 12px 15px;
  }
  .item {
    background-color: #fff;
    border-radius: 10px;
  }
  .item h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .item .text {
    padding: 15px 20px;
  }
  .item .text div {
    background-color: #e5e5e5;
    color: #747474;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 10%;
    letter-spacing: 3px;
    margin-right: 5px;
    font-size: 14px;
  }
  .item span {
    background-color: #ffa115;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
  }
  .benefits {
    margin-top: 80px;
    padding: 0 25px;
  }
  .benefits img {
    width: 35%;
    border: 1px solid #555555;
    border-radius: 10%;
    padding: 10px 4px 0;
  }
  .benefits p {
    font-size: 13px;
    width: 85%;
    line-height: 20px;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 85%;
    margin: 30px auto;
  }
  .card-wrapper .card {
    padding: 25px 10px 20px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card-wrapper .card h3 {
    letter-spacing: 0.5px;
    margin-top: 5px;
  }
  .features {
    padding: 0 25px;
    margin-top: 50px;
  }
  .features h2 {
    width: 80%;
  }
  .features > img {
    width: 98%;
    margin: 25px auto 0;
    display: block;
  }
  .feature-wrapper {
    width: 98%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .feature span {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #FFC9FF;
  }
  .feature img {
    width: 70%;
    background-color: #d5d5d5;
    margin-left: -65px;
    margin-bottom: -20px;
    padding: 15px 5px 0 10px;
  }
  .feature div {
    width: 40%;
  }
  .feature .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .feature p {
    line-height: 16px;
    font-size: 11.7px;
    width: 106%;
  }
  .cta {
    margin-top: 80px;
    padding: 40px 25px 30px;
    background-color: #ffd5d6;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .cta button {
    width: 45%;
    padding: 7px 18px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .cta p {
    font-size: 14px;
    line-height: 22px;
    width: 90%;
  }
  .cta span {
    width: 25%;
    height: 5px;
    background-color: #252525;
  }
  .testimonials {
    margin-top: 70px;
    padding: 0 25px;
  }
  .testimonial-wrapper {
    width: 65%;
    margin: 65px auto 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .testimonial {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .testimonial img {
    width: 55%;
    border-radius: 100%;
  }
  .testimonial span {
    color: #f76f0c;
    font-size: 20px;
  }
  .testimonial p {
    font-size: 13px;
    line-height: 18px;
  }
}
